<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"">
    <style>
        #map {
            height: 400px;}
    </style>
    <!-- ... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <title>Home</title>
</head>
<body>
    <!-- ... -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.js"></script>
    <div id="fullpage">
        <div class="section">
            <div class="slide"> 
                <h1>Latest Activity: <a href="https://www.strava.com/activities/{{ activity.id }}">{{ activity.name }}</a></h1>
                <p>Distance: {{ activity.distance }} km</p>
                <p>Average Speed: {{ activity.average_speed }} kp/h </p>
            </div>
        
            
            <div class="slide"> <h1>Longest Activity: <a href="https://www.strava.com/activities/{{ id }}">{{ longest_activity.name }}</a></h1>
                <p>Distance: {{ longest_activity.distance }} km </p>
                <p>Average Speed: {{ longest_activity.average_speed }} kp/h </p> 
            </div>

            <div class="slide"> <h1>Most KM ridden in <a href="https://www.strava.com/athlete/calendar#{{ months }}">{{ most_km_month}}: {{ most_km }} KM</a></h1>
            
            <div id="map" class="slide"></div>
                
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
            <script>
            // Create a map and set the view to the first point of the route
            var map = L.map('1122').setView(latlngs[51.505, -0.09], 13);

            // Add an OpenStreetMap tile layer to the map
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Add the polyline to the map
            L.polyline(latlngs, {color: 'red'}).addTo(map);
            </script>
            
        </div>
    </div>
    
    <script>
        new fullpage('#fullpage', {
            autoScrolling: true,
            scrollHorizontally: true,
            navigation: false
        });
    </script>
</body>
</html>